.card {
  width: 200px;
  height: 150px;
  border: 1px solid black;
  padding: 5px;
  background: linear-gradient(mediumseagreen, cyan, violet);

  &__text {
    color: cornsilk;
    font-style: italic;
    &:hover {
      color: springgreen;
    }
  }

  &__photo {
    object-fit: cover;
    width: 100%;
    height: 50%;
  }
}

.btn-block {
}
