* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: wheat;
}

div {
    height: 100px;
    width: 200px;
    background-color: aqua;
    border: 2px solid black;
}

div:first-of-type {
    order: 2;
    /* flex-grow: 2; */
}

div:nth-of-type(2) {
    background-color: blueviolet;
    order: 1
}

div:last-of-type {
    background-color: magenta;
    order: 3;
}

body {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-direction: column-reverse; elementu tvarkos sukeitimas */
    flex-wrap: wrap;
}